.navbar-inverse .navbar-brand {
	width: 130px;
	background: url("../images/logo.png" ) no-repeat center;
	background-size: contain;
}
	@media (min-width: 768px) and (max-width: 991px) {
		#navbar-searchbox {
			width: 30em;
		}
	}
	@media (min-width: 992px) and (max-width: 1199px) {
		#navbar-searchbox {
			width: 17em;
		}
	}
	@media (min-width: 1200px) {
		#navbar-searchbox {
			width: 31em;
		}
	}
